@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.hydrafacial{
    padding: 35px;
    background-color: #f2f2f2;
}
.hydramain{
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
    padding: 35px;
}
.Main-Heading {
    font-size: 20px;
    color: #1f403d;
    font-weight: 600;
    font-family: 'Rozha One', serif;
    margin-left: 35px;
    margin-bottom: 10px;
}

.content { 
    background-color: #efe2ea;
    width: 80%;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #000;
    margin-left: 35px;
    margin-top: 10px;
}

.contentpoints { 
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #000;
    margin-left: 80px;
    display: list-item;
}

.logo {
    padding: 35px;
}


@media only screen and (max-width: 425px) {
    .logo {
        padding: 10px;
        width: 70%;
    }

    .hydramain{
        padding: 10px;
    }

    .Main-Heading {
        
        margin-left: 15px;
       
    }

    .content { 
        width: 90%;
        padding: 10px;
        margin-left: 15px;
        
    }

    .contentpoints { 
        padding: 10px;
        margin-left: 35px;
        display: list-item;
    }
}

@media only screen and (max-width: 768px) {
   

    .content { 
        width: 90%;
        
    }

    
}
