/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.LaserContainer {
    background-color: #fff;
    height: 100%;
    border-radius: 5px;
    padding: 35px;
}

.LaserHeading {
    font-size: 20px;
    color: #1f403d;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-left: 35px;
    margin-bottom: 10px;
} */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    overflow-x: hidden;
    font-size: 14px;
}
.container-fluid{
    padding: 25px 60px 25px 60px;
  }
.Bitcare_image{
    padding-bottom: 25px;
    padding-left: 5px;
    margin-left: 50px;
}

form {
    background-color: #fff;
}
.Laser_header{
    font-size: 30px;
    color: #1f403d;
    font-weight: bold;
    font-family: 'Rozha One';
    text-align: start;
    margin-left: 60px;
}



.Laser_subheader{
    font-size: 20px;
    color: #353535;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 5px;
    font-weight: 600;
    text-align: start;
    margin-left: 60px;
    width: 87%;
}

.FormName-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    height: 35px;
    
}

.FormName_input{
    padding: 5px 20px;
    height: 35px;
    width: 150%;
    box-sizing: border-box;
    border: none;
    margin-left: 0px;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.FormDate-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    margin-left: 50px;
    height: 35px;
    width: 40%;
}

.FormDate_input{
    padding: 5px 20px;
    height: 35px;
    width: 80%;
    box-sizing: border-box;
    border: none;
    margin-left: 0px;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.FormAddress_input{
    padding: 5px 20px;
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    margin-left: 0px;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.FormCity_input{
    padding: 5px 20px;
    height: 40px;
    width: 85%;
    box-sizing: border-box;
    border: none;
    margin-left: 20px;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.FormState_input{
    padding: 5px 20px;
    height: 40px;
    width: 75%;
    box-sizing: border-box;
    border: none;
    margin-left: 20px;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.FormZip_input{
    padding: 5px 20px;
    height: 40px;
    width: 65%;
    box-sizing: border-box;
    border: none;
    margin-left: 20px;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.FormPhone-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    height: 35px;
    width: 25%;
}

.FormMail-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    margin-left: 50px;
    height: 35px;
    width: 15%;
}

.FormECN-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    height: 35px;
    width: 70%;
}

.FormEphone-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    margin-left: 50px;
    height: 35px;
    width: 25%;
}

.Form12-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    height: 35px;
    width: 80%;
}

.Skin_header{
    font-size: 24px;
    color: #1f403d;
    font-weight: bold;
    font-family: 'Rozha One';
    text-align: start;
}





.facial-container{
    display: flex;
    flex-direction: row;
}

.facial1{
    margin-right: 50px;
}

.Hydra1_content{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
}

.facial2 {
    margin-left: 250px;
}

.facial21 {
    margin-left: 325px;
}

.facial22 {
    margin-left: 220px;
}

.Hydra12_content{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    
}

.facial23 {
    margin-left: 90px;
}

.facial24 {
    margin-left: 215px;
}

.facial25 {
    margin-left: 375px;
}

.facial26 {
    margin-left: 280px;
}

.LaserSkin-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    padding: 0px 0px;
    margin-top: 15px;
    border: none;
    border-radius: 0px;
}

.LaserSkin1_input{
    height: 35px;
    width: 70%;
    box-sizing: border-box;
    border: none;
    background-color: #efe2ea;
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.Hydra2_content{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    margin-left: 55px;
}

.Skin_header1{
    font-size: 18px;
    color: #1f403d;
    font-weight: bold;
    font-family: 'Rozha One';
    text-align: center;
    margin-top: 10px;
}


.LaserSkin_input{
    height: 35px;
    width: 90%;
    box-sizing: border-box;
    border: none;
    background-color: #efe2ea;
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}

.other_input{
    height: 35px;
    width: 40%;
    border: none;
    border-bottom: 2px solid #000;
    margin-left: 5px;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}






.LaserSkin_input:focus{
    outline-color: #1f403d;
    border: 2px solid #1f403d;
    box-shadow: none;
    background-color: #efe2ea;
    color: #1f403d;
}



.Medical_header{
    font-size: 30px;
    color: #1f403d;
    font-weight: bold;
    font-family: 'Rozha One';
    text-align: center;
    margin-top: 50px;
}




.Medical_content{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    text-align: center;
}

.facial{
    padding-bottom: 10px;
    padding-top: 2%;
    width: 90%;
    background-color: #efe2ea;
    margin-left: 50px;
}

.space {
    display: flex;
    flex-direction: row;
}

.medicalcheckbox {
    display: "flex"; 
    flex-direction: column;
}

.fonts {
    font-size: 14px;
}

.LaserSkin1-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    padding: 0px 0px;
    margin-top: 15px;
    margin-left: 20px;
    border: none;
    border-radius: 0px;
}
.LaserForm-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
}

.Form0-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 0px;
    border: none;
    border-radius: 0px;
    margin-left: 0px;
    height: 35px;
    width: 25%;
}

.Form-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    margin-left: 0px;
    height: 35px;
    width: 25%;
}

.Form1-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    background-color: #f8f6f6;
    padding: 7px 20px;
    border: none;
    border-radius: 0px;
    margin-left: 0px;
    height: 35px;
    width: 40%;
}


.Hydra_input1{
    width: 275px;
    padding: 5px 20px;
    margin: 8px 0;
    border: none;
    box-sizing: border-box;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light';
    color: #353535;
}

.check_facial{
    font-family: 'Poppins Light', sans-serif;
    font-size: 14px;
    color: #353535;
    align-items: start;
}


.facial212 {
    margin-left: 30px;
}



.label_facial{
    margin-left: 0px;
    
}
.Laser_subheader1{
    background-color: #efe2ea;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50;
    margin-left: 50px;
    width: 90%;
}

.subheader2{
    font-size: 14px;
    color: #353535;
    font-family: 'Poppins Light', sans-serif;
    font-weight: bold;
}
.subheader3{
    font-size: 14px;
    color: #353535;
    font-family: 'Poppins Light', sans-serif;
}

.Date-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    padding: 0px 0px;
    margin-top: 30px;
    border: none;
    border-radius: 0px;
    margin-left: 25px;
}

.FormDate1_input{
    padding: 5px 20px;
    height: 35px;
    width: 30%;
    box-sizing: border-box;
    border: none;
    margin-left: 400px;
    margin-top: 30px;
    background-color: #efe2ea;
    font-size: 14px;
    font-family: 'Poppins Light', sans-serif;
    color: #353535;
    border-radius: 0px;
}



.Sign-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    padding: 0px 0px;
    margin-top: 50px;
    border: none;
    border-radius: 0px;
    margin-left: 25px;
}


.Sign1-header{
    font-size: 14px;
    color: #000000;
    font-family: 'Poppins Light', sans-serif;
    padding: 0px 0px;
    margin-top: 120px;
    border: none;
    border-radius: 0px;
    margin-left: 25px;
}

.Sign {
    width: 40%;
}

.bg_hydrafacial{
    background-color: #ffffff;
    height: 240px;
    width: 120%;
    border: 1px solid gray;
    margin-top: 20px;
    margin-left: 330px;
    flex-direction: column;
    display: flex;

    
}

.bg_hydrafacial1{
    background-color: #ffffff;
    height: 240px;
    width: 120%;
    border: 1px solid gray;
    margin-top: 100px;
    margin-left: 310px;
    flex-direction: column;
    display: flex;
    
}

.btns {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

#clear_btn, #save_btn{
    padding: 0.5rem;
    text-align: center;
    margin-top: 20px;
    width: 100%;
    background-color: #f5f5f5;
    border: 1px solid black;
    transition: 1s;
    font-family: 'Poppins Light', sans-serif;

    
}
#clear_btn:hover, #save_btn:hover{
    background-color: #2f8b88;
    color: #ffffff;
}

@media only screen and (max-width: 1024px) {
    .FormDate-header{
        width: 55%;
    }

    .FormECN-header{
        width: 100%;
    }

    .facial2 {
        margin-left: 170px;
    }
    
    .facial21 {
        margin-left: 245px;
    }
    
    .facial22 {
        margin-left: -5px;
    }
    
    
    .facial23 {
        margin-left: -115px;
    }
    
    .facial24 {
        margin-left: 145px;
    }
    
    .facial25 {
        margin-left: 305px;
    }
    
    .facial26 {
        margin-left: 35px;
    } 
    
    .Form-header{
        width: 35%;
    }
    
    .Form1-header{
        width: 55%;
    }

    .Sign {
        margin-left: 300px;
    }
    
    /* .bg_hydrafacial{
        width: 80%;
    }

    .bg_hydrafacial1{
        width: 80%;
    } */
    
    

}


@media only screen and (max-width: 768px) {

    

    .FormDate-header{
        width: 95%;
    }

    .FormMail-header{
        width: 35%;
    }
    
    .FormECN-header{
        height: 45px;
        width: 250%;
    }

    
    .Form12-header{
        height: 45px;
        width: 70%;
    }

    .facial2 {
        margin-left: 10px;
    }
    
    .facial21 {
        margin-left: 85px;
    }
    
    .facial22 {
        margin-left: -15px;
    }
    
    
    .facial23 {
        margin-left: -145px;
    }
    
    .facial24 {
        margin-left: -15px;
    }
    
    .facial25 {
        margin-left: 145px;
    }
    
    .facial26 {
        margin-left: 50px;
    }

    .Form0-header{
        height: 45px;
        width: 25%;
    }

    .Form-header{
        height: 35px;
        width: 25%;
    }

    .LaserSkin1_input{
        height: 35px;
        width: 70%;
    }

    .Hydra2_content{
        margin-left: 10px;
    }

    .facial{
        width: 91%;
        margin-left: 50px;
        
    }

    .space {
        padding-right: 100px;
    }

    .medicalcheckbox {
        width: "20%";
    }

    .fonts {
        font-size: 12px;
    }

    .Form-header{
        width: 50%;
    }
    
    .Form1-header{
        width: 90%;
    }

    
    .btns {
        margin-top: 90px;
    }

    .bg_hydrafacial{
        margin-left: -100px;   
        width: 130%; 
        height: 240px;
    }
    
    .bg_hydrafacial1 {
        margin-left: -100px;
        width: 130%;
        height: 240px;
    }

    .FormDate1_input{
       margin-left: 260px;
    }
}
